@import './../../helper/_mixins.scss';
.login-container {
  background-image: linear-gradient( 135deg,rgba(82, 194, 143, 0.281) 0%, rgba(52, 189, 127, 0.363) 100%), url('../assets/sign-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // position: fixed;
  object-fit: contain;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    min-width: 768px;

    .img-wrapper {
      width: 100%;
      text-align: center;
      pointer-events: none;
      .img-format {
        margin-top: -30%;
        max-width: 10.5%;
        max-height: 10.5%;
        transform: scale(10.5);
      }
    }

    .credentials-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: -10%;
      min-width: 300px;
      max-width: 400px;

      .login-credentials {
        display: flex;
        flex-direction: column;
        .label {
          color: #fff;
          margin-bottom: 6px;
          font-family: $ms-font300;
          // font-size: 1.4em;
        }
        input {
          background-color: rgba(248, 248, 248, 0.253);
          border-radius: 4px;
          padding: 12px;
          border: none;
          color: #fff;
          font-size: 17px;
          font-family: $ms-font300 !important;
          &::before {
            border-bottom: none !important;
          }
          &::after {
            border-bottom: none !important;
          }
          &::placeholder {
            color: rgba(255, 255, 255, 0.753);
            opacity: 0;
          }
          margin-bottom: 16px;
        }
      }
      .button-container {
        width: 200px;
        margin: 25px auto;
        button {
          width: 100%;
          color: #fff;
          border: 1px solid #fff;
          text-transform: none;
          font-family: $ms-font700 !important;
        }
      }
      .text-wrapper {
        margin: 0 auto;
        &.right {
          margin: 0 0 0 auto;
          margin-top: -8px;
        }
        &.center {
          text-align: center;
        }
        color: #fff;
        a {
          color: #fff;
          text-decoration: underline;
          font-family: $ms-font700;
        }
      }
    }

    @include tablet_max {
      min-width: 425px;
      .img-wrapper {
        .img-format {
          margin-top: -45%;
          max-width: 11%;
          max-height: 11%;
          transform: scale(11);
        }
      }
      .credentials-wrapper {
        min-width: 250px;
        max-width: 400px;
      }
    }

    @include mobile_max {
      width: 100%;
      min-width: 0;
      .img-wrapper {
        margin-top: 50px;
        .img-format {
          margin-top: -40%;
          max-width: 9.5%;
          max-height: 9.5%;
          transform: scale(9.5);
        }
      }
      .credentials-wrapper{
        margin-top: 0;
        // margin-bottom: 40%;
        .login-credentials {
          .label {
            display: none;
          }
          input::placeholder {
            opacity: 1;
          }
        }
      }
    }
  }
}