@import './_theme.scss';

// size
$mobile-size: "screen and (max-width: 549px)";
$pc-size: "screen and (min-width: 550px)";

//Fonts Shorthand Names
$ms-font100: "MyFont100";
$ms-font300: "MuseoSans300";
$ms-font300Italic: "MuseoSans300Italic";
$ms-font500: "MuseoSans500";
$ms-font700: "MuseoSans700";

//breakpoints
$xs: 425px;
$sm: 768px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

//Side Bar breakpoints
$sidebar-fixed-max: 1024px;
$sidebar-fixed-min: 550px;
$sidebar-off-max: $sidebar-fixed-min - 1px;

//Side Bar Dimensions
$sidebarOpen-width: 250px;
$sidebarClosed-width: 50px;