@import './../../helper/_mixins.scss';


.help-container {
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  @include sideBar;
  margin-top: 112px;
  margin-bottom: 120px;
  @include flexScale(0,549px) {
    margin-top: 56px;
  }

  .help-wrapper {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    .heading {
      margin: auto;
      width: 66%;
      min-width: 300px;
      max-width: 600px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 2em;
    }
    .grid-item {
      margin: auto;
      width: 66%;
      min-width: 300px;
      max-width: 600px;
      margin-bottom: 20px;
      text-align: center;
      .info-container {
        padding: 10px;
        box-shadow: none;
        border-radius: 10px;
        .subheading {
          border-bottom: 1px solid rgba(0, 0, 0, 0.185);
          h2 {
            font-size: 1.6em;
          }
        }
        .info {
          min-height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: none;
          padding: 5px;
        }
      }
    }

  }
    
  @include tablet_max {
    .help-wrapper {

    }
  }

  @include flexScale(0,500px) {
    .help-wrapper {

    }
  }
}