.card-author {
    display: flex;
    align-items: center;
    // min-height: 90px;
    // max-height: 90px;
    margin: 0;
    padding: 0 3px !important;
    border-radius: 10px !important;
    div:first-child {
        margin: 2px 0 !important;
        flex-direction: column;
    }
    .text {
        display: flex;
        flex-direction: row;
    }
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 107px;
        min-width: 107px;
        margin: auto 8px;
        .image-floater {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            min-width: 90%;
            overflow: hidden;
            border-radius: 10px;
            .card-image {
                max-width: 10%;
                max-height: 10%;
                transform: scale(10);
            }
        }
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        .contact-button {
            margin: auto;
            .action-button {
                text-transform: none;
                min-height: 30px;
                max-height: 30px;
                padding: 0;
            }
        }
    }
    .info-section {
        display: flex;
        flex-grow: 1;
        margin-top: 5px;
        .major-text {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 0 0 0 10px;
            margin: 15px 0;
            .card-name-container {
                display: flex;
                flex-direction: row;
                padding: 0 10px;
                flex-grow: 1;
                .name {
                    margin-bottom: auto;
                    font-family: $ms-font700;
                    &.profile-link {
                        .text_icon {
                            font-size: 13px;
                            margin-bottom: 4px;
                            color: $spearmint-main;
                        }
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .label {
                    font-size: 1.1em;
                    line-height: 16px !important;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
                .filler {
                    flex-grow: 1;
                }
            }
            .card-info-container {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                .subinfo {
                    display: flex;
                    flex-wrap: nowrap;
                    .value {
                        margin-left: 1.6rem;
                    }
                }
            }
            .card-label-container {
                display: flex;
                flex-wrap: wrap;
                // margin: auto;
                width: 80%;
                padding: 10px 10px 0;
                .chip {
                    height: 25px;
                    font-size: 1em;
                    margin-bottom: 4px;
                    margin-right: 8px !important;
                    border-radius: 6px;
                    &.null {
                        background-color: #aaa;
                        color: #fff;
                    }
                    &.positive {
                        background-color: $spearmint-main;
                        color: #fff;
                    }
                    &.negative {
                        background-color: $opposite-main;
                        color: #fff;
                    }
                }
            }
        }
    }
    .mobil-ft {
        display: none !important;
    } 
    //Breakpoints
    //Tablet and lower
    @include tablet_max {
        cursor: pointer;
        .card-label-container {
            .chip {
                height: 20px;
                font-size: 0.7em;
            }
        }
        .image-container {
            margin: auto;
            height: 90px;
            min-width: 90px;
            border-radius: 0;
            .image-floater {
                height: 90%;
                min-width: 90%;
                .card-image {
                    max-width: 10%;
                    max-height: 10%;
                    transform: scale(10);
                }
            }
        }
        .info-section {
            flex-wrap: wrap;
            margin-right: 10px;
            margin-left: 10px;
            .major-text{
                .card-label-container {
                    .chip {
                        height: 20px;
                        font-size: 0.7em;
                    }
                }
            }
            
            .subinfo {
                font-size: 0.9em;
            }
            @include flexScale(0, 462px) {
                margin-left: 0;
                .major-text {
                    .lg {
                        font-size: 1.1em;
                    }
                }
            }
        }
    } //Mobile and lower
    @include mobile_max {
        .image-container {
            margin: auto;
            height: 70px;
            min-width: 70px;
            border-radius: 0;
            .image-floater {
                .card-image {
                    max-width: 10%;
                    max-height: 10%;
                    transform: scale(10);
                }
            }
        }
        .info-section {
            .major-text {
                .card-name-container {
                    padding-left: 0px;
                    margin-left: 4px;
                    .name {
                        margin-bottom: 2px;
                    }
                }
                .card-info-container {
                    max-width: 200px;
                    padding-left: 0;
                    .subinfo {
                        min-width: 80px;
                        .value {
                            margin-left: 8px;
                        }
                        .label, .value {
                            font-size: 1em;
                        }
                    }
                }
                .card-label-container {
                    padding-left: 0px;
                }
            }
        }
    }
    .label {
        color: $spearmint-main;
    }
}