@import '../helper/_mixins.scss';
.menu-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 633px;
    width: $sidebarOpen-width;
    background-color: $spearmint-main;
    transition: all 0.1s;
    .topBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        .freshspire-logo {
            max-width: 10%;
            max-height: 10%;
            transform: scale(10);
        }
    }
    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-direction: column;
        width: 100%;
        // height: 100px;
        margin: 10px 0 20px;
        .picture-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 100px;
            overflow: hidden;
            transition: all 0.1s;
            .profile-picture {
                max-width: 11.1%;
                max-height: 11.1%;
                transform: scale(11.1);
            }
        }
        .name {
            transition: all 0.1s;
            color: #fff;
            font-size: 1.2em;
            font-family: $ms-font500;
            max-width: 180px;
            text-align: center;
            margin-top: 4px;
        }
    }
    .bottom {
        margin-top: auto;
        margin-bottom: 20px;
    }
    .active {
        background-color: rgba(255, 255, 255, 0.15);
    }
    .list-item {
        padding-left: 24px;
        color: #fff;
        .list-text {
            color: #fff;
        }
        .list-icon {
            color: #fff;
        }
    }
    @include flexScale($sidebar-fixed-min, $sidebar-fixed-max) {
        z-index: 10;
        &.close {
            width: $sidebarClosed-width;
            .list-text {
                opacity: 0;
                pointer-events: none;
            }
            .list-container {
                margin-left: -13px;
            }
            .topBar {
                .freshspire-logo {
                    opacity: 0;
                }
            }
            .profile {
                // height: 37px;
                .picture-container {
                    width: 30px;
                    height: 30px;
                }
                .name {
                    font-size: 0em;
                    opacity: 0;
                    height: 0;
                }
            }
        }
    }
    @include flexScale(0, $sidebar-off-max) {
        display: none;
    }
}

.bar-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 200px;
    top: 0;
    background-color: $spearmint-main;
    color: #fff;
    width: 50px;
    height: 50px;
    transition: all 0.1s;
    @include flexScale($sidebar-fixed-min, $sidebar-fixed-max) {
        z-index: 10;
        display: flex;
        &.close {
            left: 0px;
        }
    }
    @include flexScale(0, $sidebar-off-max) {
        display: none;
    }
}

.menu-fab {
    position: fixed;
    display: none;
    bottom: 0;
    z-index: 3;
    width: 100vw;
    pointer-events: none;

    .fab-overlay {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.274);
        z-index: -1;
        transition: all 0.3s;
        opacity: 0;
        &.open {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .top-logo {
        display: none;
        text-align: center;
        position: relative;
        width: auto;
        margin: 0 auto;
        z-index: 11;
        margin-bottom: 15px;
        pointer-events: none;
        .fab-background {
            transition: all 0.3s;
            position: absolute;
            border-radius: 100%;
            width: 4rem;
            height: 4rem;
            z-index: -1;
            box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.15);
            background: white;
        }
        .close-icon {
            margin: auto auto 0;
            position: relative;
            bottom: 0;
            width: 4rem;
            height: 4rem;
            display: none;
            pointer-events: all;
            .icon {
                margin: auto;
                font-size: 35px;
                color: $spearmint-main;
            }
        }
        img {
            width: 4rem;
            pointer-events: all;
            &.open {
                box-shadow: none;
                opacity: 0;
                display: none;
            }
        }
        &.open {
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 0;
            display: flex;
            .fab-background {
                transform: scale(11.2);
            }
            .close-icon {
                display: flex;
                margin-bottom: 15px;
            }
        }
        .dropdown-menu {
            display: none !important;
            transition: all 0.3s;
            pointer-events: all;
            @media #{$mobile-size} {
                position: fixed;
                flex-direction: column;
                bottom: 0;
                left: 50%;
                width: 100%;
                height: 0;
                z-index: -1;
                overflow: hidden;
                transform: translateX(-50%);
                -ms-flex-pack: center;
                justify-content: center;
                margin-bottom: 0;
            }
            @media #{$pc-size} {
                display: flex;
                justify-content: space-around;
                margin-top: 2rem;
                font-weight: 700;
            }
            &.open {
                @media #{$mobile-size} {
                    height: auto;
                    margin-bottom: 74px;
                    padding-top: 40px;
                }
            }
            li.menu-item {
                margin: 0 auto 10px;
                opacity: 0;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid #c9c9c9;
                width: 50%;
                font-size: 1.1rem;
                text-align: center;
                font-family: 'MuseoSans300', 'sans-serif';
                color: $spearmint-main;
                &.open {
                    opacity: 1;
                    @include animation(
                        'fade-in .3s .3s ease-out 1 normal backwards',
                        'slide-in-up .2s .3s ease-out 1 normal backwards'
                    );
                }
                cursor: pointer;
                @media #{$pc-size} {
                    margin-right: 1rem;
                }
            }
            @include flexScale(0, $sidebar-off-max) {
                display: block !important;
            }
        }
    }
    @include flexScale(0, $sidebar-off-max) {
        display: flex;
        .top-logo {
            display: block;
        }
    }
}