.deals-search {
    display: flex;
    flex-direction: row;
    .search-wrapper {
        margin: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        width: 100%;
        .expansion-container {
            display: flex;
            flex-grow: 1;
            
            .input-container {
                width: 100%;
                border-radius: 0.5rem;
                box-shadow: none;
                cursor: pointer;
                background-color: #fff;
                .expansion-top {
                    display: flex;
                    min-height: 3rem;
                    max-height: 3rem;
                    width: 100%;
                    .filter-label {
                        display: none;
                        margin: auto 0;
                        font-family: $ms-font500;
                        font-size: 1.2em;
                    }
                    .search-icon {
                        display: flex;
                        align-items: center;
                        height: 90%;
                        position: absolute;
                        pointer-events: none;
                        margin-left: 5px;
                    }
                    input {
                        padding: 0 1.7rem;
                        padding-left: 2.6rem;
                        border: none;
                        outline: none;
                        height: 2.6rem;
                        flex-grow: 1;
                        font-size: 1.3em;
                        min-width: 60px;
                        cursor: pointer;
                    }
                    .filter-dropdown {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        height: 48px;
                        width: 48px;
                    }
                    @include laptop_max {
                        .filter-label, .filter-dropdown {
                            display: flex;
                        }
                    }
                }
                .expansion-bottom {
                    display: none;
                    padding: 0;
                    padding-bottom: 20px;
                    flex-direction: column;
                }
                @include laptop_max {
                    .expansion-top {
                        .filter-label, .filter-dropdown {
                            display: flex;
                        }
                    }
                    .expansion-bottom {
                        display: flex;
                    }
                }
            }
        }
        .sort-by-container {
            display: flex;
            flex-direction: row;
            margin-bottom: auto;
            .sort-label {
                font-family: $ms-font700;
                min-width: 80px;
                margin: auto;
                text-align: center;
            }
            .sort-box {
                display: flex;
                padding: 0 0.8rem;
                margin-right: 0.5rem;
                align-items: center;
                border-radius: 0.5rem;
                height: 3rem;
                min-width: 150px;
                background-color: #fff;
                border: none;
                outline: none;
                font-size: 1rem;
                font-family: $ms-font500;
                cursor: pointer;
            }
            &.mobile {
                display: none;
            }
        }
       
    }

    .filter-wrapper {
        margin: 1rem 0 2rem 0;
        min-width: 400px;
        display: none;
        .filter-container {
            position: fixed;
            display: flex;
            flex-direction: column;
            margin-left: 1.7rem;
            border-radius: 0.5rem;
            max-width: 350px;
            background-color: #fff;
            overflow: hidden;
            font-family: $ms-font500;
            .header {
                display: flex;
                align-items: center;
                margin: 0;
                padding-left: 20px;
                background-color: $spearmint-main;
                height: 50px;
                color: #fff;
                .text {
                    font-size: 0.8em;
                    color: #fff;
                }
            }
            .body {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        @include laptop_min {
            display: block;
        }

    }

    .checkbox-group-label {
        margin-top: 10px;
        .text {
            font-family: $ms-font700;
        }
    }

    .checkbox-wrapper {
        display: flex;
        justify-content: center;
        border: 1px solid $spearmint-main;
        border-radius: 0.5rem;
        padding: 10px;
        .checkbox-label {
            width: 130px;
            height: 36px;
            .checkbox {
                width: 36px;
            }
        }
    }

    @include flexScale(0, 549px) {
        z-index: 2;
        position: fixed;
        margin-top: -13px;
        overflow-y: hidden;
        padding-bottom: 10px;
        .search-wrapper{
            background-color: #fff;
            position: relative;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            margin: 0;
            margin-top: -10px;
            padding: 1rem;
            .expansion-container {
                border: 1px solid $spearmint-main;
                border-radius: 0.5rem;
                .input-container {
                    box-shadow: none;
                    .expansion-top {
                        padding: 0;
                        .filter-label{
                            display: none;
                        }
                        .search-icon {
                            margin-left: 20px;
                        }
                        input {
                            width: 60px;
                            margin-right: 50px;
                            margin-left: 3.4rem;
                            padding: 0 1rem;
                            transition: 0.1s;
                            border-bottom: 1px solid #3dd28f00;
                            &.opened {
                                border-bottom: 1px solid #3dd28f;
                            }
                        }
                    }
                    .expansion-bottom {
                        .checkbox-group-label {
                            max-width: 100%;
                            flex-basis: 100%;
                            margin-left: 30px;
                            .text {
                                font-size: 1rem;
                                font-family: $ms-font700 !important;
                            }
                        }
                        .checkbox-wrapper {
                            display: flex;
                            justify-content: center;
                            border: none;
                            border-radius: 0.5rem;
                            padding: 0 10px;
                            max-width: 100%;
                            flex-basis: 100%;
                            .checkbox-label {
                                width: 130px;
                                height: 39px;
                                .checkbox {
                                    width: 39px;
                                }
                            }
                        }
                    }
                }
            }
            .sort-by-container {
                margin: 10px 0;
                .sort-label {
                    margin: auto 0;
                    text-align: left;
                    margin-left: 30px;
                }
                .sort-box {
                    box-shadow: none;
                    background-color: none;
                    margin-right: 10%;
                    border: 1px solid $spearmint-main;
                    flex-grow: 1;
                }
                &.mobile {
                    display: flex;
                }
                &.web {
                    display: none;
                }
            }
        }
    }
}